
.input-group.done .form-control {
    color: #28a745;
    text-decoration: line-through
}
.input-group.done .input-group-prepend button {
    color: #28a745
}
.todoItem {
    background-color: #ffffff;
    margin-bottom: 1px;
    border-radius: 4px;
}